@media only screen and (max-width: 993px) {
    #expand {
        .main_container {
            gap: 130px;
        }

        .expand_block {
            flex-direction: column-reverse;
            text-align: center;
            gap: 28px;

            a {
                width: 100%;
                justify-content: center;
            }
        }
    }

    // Home
    .main_btn {
        font-size: 16px;
    }

    .home {
        .main_container {
            padding: 18px;
            height: 600px;
            padding-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                text-align: center;
                max-width: 100%;
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 1px;
                margin-bottom: 7px;
            }

            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
                margin-bottom: 46px;
                width: 100%;
            }

            .main_btn {
                width: 318.44px;
                height: 62.38px;
            }
        }
    }
    // Home end

    // Games
    .games {
        padding-bottom: 110px;

        .content_bottom {
            width: calc(100% - 40px);
            padding-top: 75px;

            .main_title {
                margin-bottom: 35px;
            }

            .slider_wrap {
                height: auto;
                position: relative;
            }

            .news_slider__content {
                img {
                    width: 100%;
                    height: auto;
                }
    
                .text {
                    opacity: 1;
                }
    
                .subtitle {
                    opacity: 1;
                }
            }

            .swiper-slide-active {
                .news_slider__content {
                    .content_head {
                        padding-top: 17.8px;
                        margin-bottom: 20px;
                    }
    
                    img {
                        height: auto;
                    }
                }
            }

            .main_btn {
                position: absolute;
                z-index: 2;
                margin-top: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .main_btn.next_btn {
                right: 0;
            }
        }
    }
    // Games end
  
    #community {
        .community_cards {
            max-width: 690px;
            margin: 0 auto;
        }

        .community_one {
            flex-wrap: wrap;
            .one {
                order: 1;
            }
            .two {
                order: 2;
            }
            .community_full {
                order: 3;

                .community_card_bottom {
                    h6 {
                        font-size: 14px;
                    }
                }
            }

            .community_card {
                flex: auto;
                width: calc(100% / 2 - 5px);

                img {
                    object-fit: cover;
                }

                .community_card_bottom {
                    span {
                        top: -25%;
                    }
                }
            }

            .two_none,
            .three_none {
                display: none;
            }

        }
    }

    .community_btn {
        margin-top: 30px;
    }

    footer {
        .footer_center {
            order: 1;
        }

        .footer_right {
            order: 2;
        }

        .footer_left {
            order: 3;
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        .main_container {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media only screen and (max-width: 576px) {
    #community {
        .community_one {
            flex-direction: column;

            .community_card {
                width: 100%;
            }

            .one_none {
                display: none;
            }
        }
    }

    footer {
        .footer_center {
            flex-direction: column;
            gap: 0;
        }
    }
  
  .games {
        .content_top {
            width: calc(100% - 30px);
            padding: 50px 21px 78px;

            .slider_wrap {
                position: relative;

                .main_btn {
                    position: absolute;
                    z-index: 2;
                }

                .slider_next {
                    right: -2px;
                }
            }

            .game_item{
                a {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
