@media only screen and (max-width: 993px) {
    #expand {
        .main_container {
            gap: 130px;
        }

        .expand_block {
            flex-direction: column-reverse;
            text-align: center;
            gap: 28px;

            a {
                width: 100%;
                justify-content: center;
            }
        }
    }

    #community {
        .community_cards {
            max-width: 690px;
            margin: 0 auto;
        }

        .community_one {
            flex-wrap: wrap;
            .one {
                order: 1;
            }
            .two {
                order: 2;
            }
            .community_full {
                order: 3;

                .community_card_bottom {
                    h6 {
                        font-size: 14px;
                    }
                }
            }

            .community_card {
                flex: auto;
                width: calc(100% / 2 - 5px);

                img {
                    object-fit: cover;
                }

                .community_card_bottom {
                    span {
                        top: -25%;
                    }
                }
            }

            .two_none,
            .three_none {
                display: none;
            }

        }
    }
    .community_btn {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 576px) {
    #community {
        .community_one {
            flex-direction: column;

            .community_card {
                width: 100%;
            }

            .one_none {
                display: none;
            }
        }
    }
}