body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

body {
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1023px;
  padding: 0 15px;
  margin: 0 auto;
}

.main_title {
  color: #252525;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main_btn {
  background: #3B8526;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25), 0px -4px 0px 0px #2A631C inset, 0px 4px 0px 0px #6BC349 inset;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 1px 0px #2A631C;
  font-size: 19.2px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease all;
}
.main_btn:hover {
  background: #171615;
  background-image: linear-gradient(#3d3938, #171615);
  outline: 0.063rem solid #fff;
  border: 0;
  box-shadow: inset 0 0 0 2px #1157be;
  text-shadow: 0 1px 0 #000;
}

.home {
  background: #000;
}
.home .main_container {
  background: url("../images/home_bg.png") center/cover no-repeat;
  max-width: 1200px;
  padding: 95px 100px 174px;
}
.home h1 {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 480.04px;
  margin-bottom: 7px;
}
.home p {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  width: 524.56px;
  margin-bottom: 46px;
}
.home .main_btn {
  width: 347.98px;
  height: 72.95px;
}

.games {
  background: url("../images/games_bg.png") center/cover repeat-y;
  padding: 50px 0 150px;
}
.games .main_container {
  max-width: 1140px;
  padding: 75px 93px 201px;
  background: #fff;
}
.games .content_top .main_title {
  margin-bottom: 55px;
  text-align: center;
}
.games .content_top .slider_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}
.games .content_top .main_btn {
  width: 50px;
  height: 53px;
  flex-shrink: 0;
}
.games .content_top .swiper {
  padding: 10px;
}
.games .content_top .game_item img {
  width: 100%;
  margin-bottom: 25px;
  transition: 0.8s ease all;
  border: 2px solid transparent;
}
.games .content_top .game_item img:hover {
  transform: scale(1.03);
  border: 2px solid #84c94c;
}
.games .content_top .game_item__head:hover .game_title {
  color: #1B1B1B;
}
.games .content_top .game_item .game_title {
  color: #196D17;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.games .content_top .game_item .game_title:hover {
  text-decoration: underline;
}
.games .content_top .game_item .description {
  color: #181818;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.games .content_bottom {
  background: transparent;
  max-width: 1096px;
  padding: 75px 0 0;
}
.games .content_bottom .main_title {
  color: #fff;
  text-align: center;
  margin-bottom: 58px;
}
.games .content_bottom .slider_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 26px;
  height: 334px;
}
.games .content_bottom .main_btn {
  flex-shrink: 0;
  width: 50px;
  height: 53.17px;
  margin-top: 76px;
}
.games .content_bottom .news_slider__content {
  display: block;
}
.games .content_bottom .news_slider__content span {
  display: block;
}
.games .content_bottom .news_slider__content .content_head {
  position: relative;
  padding-top: 17.8px;
  margin-bottom: 20px;
}
.games .content_bottom .news_slider__content img {
  width: 100%;
  height: 161px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #F1EDEC;
  transition: 0.2s ease all;
}
.games .content_bottom .news_slider__content img:hover {
  border-color: #6BC349;
}
.games .content_bottom .news_slider__content .text {
  background: #FFF;
  padding: 9.68px 15.28px 8.12px 15.49px;
  color: #1D1E1E;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 9.68px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  bottom: -8.47px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.games .content_bottom .news_slider__content .title {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease all;
}
.games .content_bottom .news_slider__content .title:hover {
  color: #6BC349;
}
.games .content_bottom .news_slider__content .subtitle {
  color: #FFF;
  text-align: center;
  font-size: 18.45px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0;
  margin-top: 5px;
}
.games .content_bottom .swiper-slide-active .news_slider__content .content_head {
  padding-top: 0;
  margin-bottom: 30px;
}
.games .content_bottom .swiper-slide-active .news_slider__content img {
  height: 198px;
}
.games .content_bottom .swiper-slide-active .news_slider__content .text {
  opacity: 1;
}
.games .content_bottom .swiper-slide-active .news_slider__content .subtitle {
  opacity: 1;
}

#expand {
  padding: 150px 0;
  background-image: url("../images/expend_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#expand .main_container {
  display: flex;
  flex-direction: column;
  gap: 75px;
}
#expand .expand_block {
  display: flex;
  align-items: center;
  gap: 30px;
}
#expand .expand_block .expand_block_left {
  flex: 1;
}
#expand .expand_block .expand_block_right {
  flex: 1;
}
#expand p {
  color: #252525;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 23px;
}
#expand a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #196D17;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
  text-transform: uppercase;
}
#expand .expand_block_two {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 993px) {
  #expand .main_container {
    gap: 130px;
  }
  #expand .expand_block {
    flex-direction: column-reverse;
    text-align: center;
    gap: 28px;
  }
  #expand .expand_block a {
    width: 100%;
    justify-content: center;
  }
}
.header {
  background: #000;
}
.header .main_container {
  max-width: 1920px;
  padding: 0px 16px;
}
.header__top {
  padding: 9px 0;
}
.header__top .main_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 33.6px;
}
.header__top a {
  color: #A0E080;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  transition: 0.2s ease all;
}
.header__top a:hover {
  color: #fff;
}
.header__bottom {
  padding: 21.5px 0;
  height: 82px;
  position: relative;
  background: #171615;
}
.header__bottom .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__bottom ul {
  display: flex;
  align-items: center;
  gap: 26px;
}
.header__bottom ul a {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5.66px;
  transition: 0.2s ease all;
}
.header__bottom ul a svg path {
  transition: 0.2s ease all;
  stroke: #fff;
}
.header__bottom ul a:hover {
  color: #A0E080;
}
.header__bottom ul a:hover svg path {
  stroke: #A0E080;
}
.header__bottom .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__bottom .header_btn {
  border: 2px solid #262423;
  background: #3C8527;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25), 0px -4px 0px 2px #2A641C inset, 0px 4px 0px 2px #52A535 inset;
  height: 50px;
  padding: 0px 24px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 0px #2A641C;
  font-size: 18px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  position: relative;
  transition: 0.2s ease all;
}
.header__bottom .header_btn:hover {
  background: #52A535;
}
.header__bottom .header_btn:hover svg defs {
  stroke: #52A535;
}
.header__bottom .header_btn::before, .header__bottom .header_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #2A641C;
  width: 4px;
  height: 42px;
}
.header__bottom .header_btn:before {
  left: -2px;
}
.header__bottom .header_btn::after {
  right: -2px;
}/*# sourceMappingURL=style.css.map */